<html>
    <head>
        {% load staticfiles %}
        <link rel="stylesheet" href="{% static 'personal/css/bootstrap.min.css' %}" type="text/css"/>
    </head>
    <body>
    <div class="jumbotron jumbotron-fluid bg-light border-bottom">
            <div class="container">
                {% load staticfiles %}
                <div class="row">
                    <div class="col-2">
                        <img src="{% static 'personal/img/MainAvatarka.jpg' %}" class="img-fluid" alt="Responsive image">
                    </div>
                    <div class="col">
                        <h1 class="display-4">Sevastianov Volodymyr</h1>
                        <p class="lead">This site was created to show my WebUI programming skills and things wich I can do with them!</p>
                    </div>
                </div>
            </div>
            </div>
    {% include "personal/includes/navbar.html" %}
    {% block content %}
     {% endblock %}
    </body>
</html>