{% extends "personal\header.html" %}

{% block content %}
<div class="jumbotron jumbotron-fluid bg-light border-bottom">
        <div class="container">
            {% load staticfiles %}
            <div class="row">
                <div class="col-2">
                    <img src="{% static 'personal/img/MainAvatarka.jpg' %}" width="150" height="200" alt="">
                </div>
                <div class="col aling-self-end">
                    <h1 class="display-4">Sevastianov Volodymyr</h1>
                    <p class="lead">This site was created to show my WebUI programming skills and things wich I can do with them!</p>
                </div>
            </div>
        </div>
      </div>
{% include "personal/includes/navbar.html" %}
<div class="container">

    <h1>Vse zaebis', no sperva</h1>
    <p>Lolka doljen rabotat'!</p>
    <h1>Vse zaebis', no sperva</h1>
    <p>Lolka doljen rabotat'!</p>
    <h1>Vse zaebis', no sperva</h1>
    <p>Lolka doljen rabotat'!</p>

    <h1>Vse zaebis', no sperva</h1>
    <p>Lolka doljen rabotat'!</p>
    <h1>Vse zaebis', no sperva</h1>
    <p>Lolka doljen rabotat'!</p>
    <h1>Vse zaebis', no sperva</h1>
    <p>Lolka doljen rabotat'!</p>

    <h1>Vse zaebis', no sperva</h1>
    <p>Lolka doljen rabotat'!</p>
    <h1>Vse zaebis', no sperva</h1>
    <p>Lolka doljen rabotat'!</p>
    <h1>Vse zaebis', no sperva</h1>
    <p>Lolka doljen rabotat'!</p>

    <h1>Vse zaebis', no sperva</h1>
    <p>Lolka doljen rabotat'!</p>
    <h1>Vse zaebis', no sperva</h1>
    <p>Lolka doljen rabotat'!</p>
    <h1>Vse zaebis', no sperva</h1>
    <p>Lolka doljen rabotat'!</p>

    <h1>Vse zaebis', no sperva</h1>
    <p>Lolka doljen rabotat'!</p>
    <h1>Vse zaebis', no sperva</h1>
    <p>Lolka doljen rabotat'!</p>
    <h1>Vse zaebis', no sperva</h1>
    <p>Lolka doljen rabotat'!</p>

    <h1>Vse zaebis', no sperva</h1>
    <p>Lolka doljen rabotat'!</p>
    <h1>Vse zaebis', no sperva</h1>
    <p>Lolka doljen rabotat'!</p>
    <h1>Vse zaebis', no sperva</h1>
    <p>Lolka doljen rabotat'!</p>

    <h1>Vse zaebis', no sperva</h1>
    <p>Lolka doljen rabotat'!</p>
    <h1>Vse zaebis', no sperva</h1>
    <p>Lolka doljen rabotat'!</p>
    <h1>Vse zaebis', no sperva</h1>
    <p>Lolka doljen rabotat'!</p>
</div>
{% endblock %}